body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffbb00; 
    color: white;
}

nav .mobile {
    display: none;
}

.logo {
    align-items: center;
    display: flex;
    padding-left: 0.5%;
    padding-right: 0.5%;
    background-color: #3f3f3f;
}


.logo h1 {
    color: #ffffff; 
}

nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover {
    color: white;
    background-color: #3f3f3f; 
}

nav .desktop {
    display: flex;
    justify-content: space-between;
}

nav .desktop .primary, nav .desktop .secondary {
    display: flex;
}

nav .desktop .secondary.mini {
    display: none;
}

.Title-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    ), url("img/Nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.Title-1 h1 {
    padding: 0;
    margin: 0;
    color: white;
    padding-left: 2%;
    font-size: 100px;
}

.Title-1 p {
    padding: 0;
    margin: 0;
    color: white;
    padding-left: 2%;
    margin-top: 40px;
    font-size: 20px;
}

.Part-1 {
    background-color: rgb(93, 93, 102);
    height: 300px;
    margin-top: 10px;
    display: flex;
}

.Part-1-1 {
    flex-basis: 50%;
    color: white;
    display: flex;
    margin: 3%;
    justify-content: center;
    flex-direction: column;
}

.Part-1-2 {
    flex-basis: 50%;
    color: white;
    display: flex;
    margin: 3%;
    justify-content: center;
    flex-direction: column; 
}

.Vision {
    height: 500px;
    display: flex;
}

.Vision-1 {
    flex-basis: 50%;
    background-image: url(img/vision.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

.Vision-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3%  ;
}

.Vision-2 h1 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #3f3f3f;
    color: white;
    padding: 0 2% 0 2%;
}
